/**
 * Reset some basic elements
 */

html, body {
  min-height: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body {
  font: 400 16px / 1.5 "Open Sans", sans-serif;
  color: #5e676d;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 1.5em;
}

/**
 * Images
 */

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */

ul, ol {
  margin-left: 30px;
}

li > {
  ul, ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */

a {
  color: #51b9db;
  text-decoration: none;
  &:visited {
    color: #51b9db;
  }
  &:hover {
    color: #51b9db;
    text-decoration: underline;
  }
}

/**
 * Anchors
 */

:target:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

/**
 * Blockquotes
 */

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Wrapper
 */

.wrapper {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    width: 100%;
  }
}

/**
 * Clearfix
 */

.footer-col-wrapper:after, .archives-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  path {
    fill: #828282;
  }
}

/**
 * Site header
 */

.site-header {
  width: 100%;
  position: fixed;
  > .wrapper {
    background: #fff;
  }
  &.sticky > .wrapper > {
    .site-title, .site-nav {
      line-height: 60px;
    }
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 110px;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-transform: lowercase;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #51b9db;
  &:visited {
    color: #51b9db;
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 21px;
    line-height: 55px!important;
  }
}

.site-nav {
  float: right;
  line-height: 110px;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  .menu-icon {
    display: none;
  }
  .page-link {
    color: #51b9db;
    line-height: 1.5;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 15px;
    font-size: 21px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: #51b9db;
        }
      }
    }
    .trigger {
      position: fixed;
      background: #fff;
      width: 100%;
      left: 0;
      top: 0;
      font-size: 16px;
      text-align: left;
      margin-top: 56px;
      display: none;
    }
    &:hover .trigger {
      display: block;
    }
    .page-link {
      display: block;
      font-size: 16px;
      padding: 15px;
      border-bottom: 1px solid #e8e8e8;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */

.site-footer {
  color: #5e676d;
  padding: 30px 0;
  > .wrapper {
    border-bottom: none;
  }
  p {
    font-size: 12px;
  }
  a {
    color: #5e676d;
    &:hover {
      color: #808080;
    }
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.page-list, .contact-list, .social-media-list {
  list-style: none;
  line-height: 30px;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

/**
 * Page content
 */

.page-content {
  padding-top: 130px;
  > .wrapper {
    padding-left: 75px;   // Width of page >1000px
    padding-right: 75px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .page-content > .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .page-content {
    padding-top: 55px;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 35px;   	// Padding between articles
    padding-bottom: 35px;
    > h2 {
      margin-bottom: 26px;
      text-align: center;
      > a {
        color: #5e676d;
        text-decoration: none;
        &:hover {
          color: #51b9db;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .post-list > li {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 800px) {
  .post-list > li > h2 {
    margin-bottom: 18px;
  }
}

.post-meta {
  font-size: 12px;
  line-height: 24px;
  color: #828282;
}

@media screen and (max-width: 600px) {
  span.post-meta, p.post-meta {
    display: block;
    text-align: center;
  }
}

.post-excerpt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.read-more {
  padding-top: 15px;
}

@media screen and (max-width: 600px) {
  .post-excerpt, .read-more {
    font-size: 13px;
  }
}

.post-link {
  display: inline-block;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .post-link {
    font-size: 18px;
  }
}

.paginator {
  margin-top: 20px;
  > {
    .next_page {
      float: right;
    }
    .prev_page {
      float: left;
    }
    .inactive {
      color: #a0a7ac;
    }
  }
}

/**
 * Page comments
 */

 .page-comments {
  @extend .page-content;
  padding-top: 55px;
 }

/**
 * Posts
 */

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 26px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 35px;  // whitespace above title
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .post-title {
    margin-top: 35px;
  }
}

@media screen and (max-width: 600px) {
  .post-title {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.post-content {
  margin-bottom: 30px;
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .post-content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Archives
 */

.archives-col-wrapper {
  margin-left: -15px;
}

.archives-col {
  float: left;
  padding-left: 15px;
}

.archives-col-1 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2));
}

.archives-col-2 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2));
}

@media screen and (max-width: 600px) {
  .archives-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}