---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if site.comments %}{% if page.comments %} &#8226; <a href="#page-comments"><span class="icon icon-comment-empty"></span><span class="disqus-comment-count" data-disqus-identifier="{{ page.slug }}">Comments</span></a>{% else %} &#8226; <span class="icon icon-comment-empty"></span> 0 Comments (disabled){% endif %}{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">{% if page.categories %}Filed under: <a href="{{ "/categories/" | prepend: site.baseurl }}#category-{{ post.categories.first | replace: ' ', '_' }}">{{ page.categories.first }}</a>{% for category in page.categories offset:1 %}, <a href="{{ "/categories/" | prepend: site.baseurl }}#category-{{ category | replace: ' ', '_' }}">{{ category }}</a>{% endfor %}{% endif %}{% if page.tags %} &#8226; Tags: <a href="{{ "/tags/" | prepend: site.baseurl }}#tag-{{ post.tags.first | replace: ' ', '_' }}">{{ page.tags.first }}</a>{% for tag in page.tags offset:1 %}, <a href="{{ "/tags/" | prepend: site.baseurl }}#tag-{{ tag | replace: ' ', '_' }}">{{ tag }}</a>{% endfor %}{% endif %}</div>

</article>

<div class="paginator">
  {% if page.next.url %}
    <a class="prev_page" href="{{ page.next.url }}" title="{{ page.next.title }}"><span class="icon icon-point-left"></span> Newer posts</a>
  {% else %}
  	<span class="prev_page inactive"><span class="icon icon-point-left"></span> Newer posts</span>
  {% endif %}
  {% if page.previous.url %}
    <a class="next_page" href="{{ page.previous.url }}" title="{{ page.previous.title }}">Older posts <span class="icon icon-point-right"></span></a>
  {% else %}
  	<span class="next_page inactive">Older posts <span class="icon icon-point-right"></span></span>
  {% endif %}
  <div style="clear:both"></div>
</div>
